<html>
<head>
</head>

<body>
  <div class='intro'>
  <p>This web application was developed by Ross Gordon, Jamie Pryde and Sandra Rubio for CS2512 AWAD.</p>
  </div>
  <div class='wholepage'>

  <h1>London Olympics 2012 Medals</h1>

  
  
  </br></br></br>

  <p>MAP: <form action="/showmap"><input type="submit" value="Click here"> to view a map of the countries that took part in the 2012 London Olympic Games and the number of gold medals they won.</p>
  <a class="twitter-timeline" href="https://twitter.com/Olympics" data-widget-id="445966379225579520">Tweets by @Olympics</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



  
  <!--<div class='livedata'>
  <p><%=button_to 'Click here', showmap_path, :class => "button", :method => :get%>to view a map of the countries that took part in the 2012 London Olympic Games and the number of gold medals they won.</p>-->
  </div>
  



  </br></br></br>
  
  <div class='search'>
  <h3>Search for a country</h3>
  <form action ="medals/search" method="post">
  <input name = "key" type="input" />
  <input value="Send" type="submit"/>
  </form>
  </div>
  
  </br>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style="color:goldenrod">Gold</th>
        <th style="color:silver">Silver</th>
        <th style="color:saddlebrown">Bronze</th>
      </tr>
   </thead>

    <tbody>
     <% @medals.each do |medal| %>
        <tr>
          <td><%= medal.name %></td>
          <td style="color:goldenrod"><%= medal.gold %></td>
          <td style="color:silver"><%= medal.silver %></td>
          <td style="color:saddlebrown"><%= medal.bronze %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
  
</body>
</html>