<html>

<head>
  <title>Search results</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th style="color:goldenrod">Gold</th>
        <th style="color:silver">Silver</th>
        <th style="color:saddlebrown">Bronze</th>
      </tr>
   </thead>

    <tbody>
     <% @medals.each do |medal| %>
        <tr>
          <td><%= medal.name %></td>
          <td style="color:goldenrod"><%= medal.gold %></td>
          <td style="color:silver"><%= medal.silver %></td>
          <td style="color:saddlebrown"><%= medal.bronze %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%=link_to 'Return Home', root_path%></p>
</body>

</html>