<html>
<head>
  <script type = "text/javascript" src = "jquery-1.11.0.min.js">    </script>
  <script type = "text/javascript" src = "countdown.js">    </script>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geomap']});
   google.setOnLoadCallback(drawMap);
    function gimmevalues(res, map, size) {
    var i = 0;
      while (  size > i) {
        res[i] = map[i];
        ++i;
      }
    }
    function drawMap() {
      var data = new google.visualization.DataTable();
      var i = 0;
      var country = new Array();
      var medals = new Array();
      var length = <%=@countries.size%>;
      var test = new Array();
      country = <%=raw @countries.as_json%>;
      medals = <%=raw @medals.as_json%>;
     
     
      data.addColumn('string', 'Country')
      data.addColumn('string', '<%=@medal%>')
      i = 0;
      while (i < length ) {
        data.addRows([[country[i], medals[i].toString()], ]);
        ++i;
      }
 
     

      var options = {};
      options['dataMode'] = 'regions';
      options['colors'] = [0xFFFF66, 0xFFFF33, 0xFFCC33, 0xFFCC00]; // - to +

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
  };
  </script>
</head>

<body>
  </br></br>
  <div id='map_canvas'></div>
  <div class='mapcontrols'>
  <% if @game == 1%>
      <input style="font-weight: bold; padding: 5px 10px"; value = "Check for gold medals" type ="submit" />
      <input style="font-weight: bold; padding: 5px 10px"; value = "Check for silver medals" type ="submit" />
      <input style="font-weight: bold; padding: 5px 10px"; value = "Check for bronze medals" type ="submit" />
    
  <% else %>
    
    
    
  <%end%>
<<<<<<< HEAD
<<<<<<< HEAD
  
<p>The refresh thing seems fixed by button on main page, but to view map right click on it. (I don't know why this happens...)</p>
=======
>>>>>>> 6779198199dabbeb3cc3476eeddf4ade47febc18
=======
>>>>>>> 6779198199dabbeb3cc3476eeddf4ade47febc18
  </div>
    
    
<p><%=link_to 'Return Home', root_path%></p>
</body>

</html>

