<html>
<head>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geomap']});
   google.setOnLoadCallback(drawMap);
    function gimmevalues(res, map, size) {
    var i = 0;
      while (  size > i) {
        res[i] = map[i];
        ++i;
      }
    }
    function drawMap() {
      var data = new google.visualization.DataTable();
      var i = 0;
      var country = new Array();
      var medals = new Array();
      var length = <%=@countries.size%>;
      var test = new Array();
      country = <%=raw @countries.as_json%>;
      medals = <%=raw @medals.as_json%>;
     
     
      data.addColumn('string', 'Country')
      data.addColumn('string', '<%=@medal%>')
      i = 0;
      while (i < length ) {
        data.addRows([[country[i], medals[i].toString()], ]);
        ++i;
      }

      var options = {};
      var colors = new Array();
      options['dataMode'] = 'regions';
      if (<%=@key%> == '2') colors = [0xDCDCDC, 0xC0C0C0 , 0x808080, 0x2F4F4F];
      else if (<%=@key%> == '1') colors = [0xFFFF66, 0xFFFF33, 0xFFCC33, 0xFFCC00];
      else colors = [0xFFA54F, 0xEE9A49, 0xCC7F32, 0x8B4500];
      options['colors'] = colors; // - to +

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
  };
  </script>
</head>

<body>
  <h1><%=@thetitle%> Medals</h1>
  </br></br>
  <div id='map_canvas'></div>
  <div class='mapcontrols'>
  <form action="/showmap" >  <input type="hidden", name="key" value='1' > <input style="font-weight: bold; padding: 5px 10px"; type ="submit" value="Check for Gold Medals"  /></form> 
  <form action="/showmap" > <input type="hidden", name="key" value='2' ><input style="font-weight: bold; padding: 5px 10px"; type ="submit" value="Check for Silver Medals"  /></form>
  <form action="/showmap" > <input type="hidden", name="key" value='3' ><input style="font-weight: bold; padding: 5px 10px"; type ="submit" value="Check for Bronze Medals"  /></form>
  

  </div>
    
    
<p><%=link_to 'Return Home', root_path%></p>
</body>

</html>

