<!DOCTYPE html>
<html>
<head>
  <title>Group</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  # app/views/layouts/application.html.erb
  <%= render 'shared/tweets' %>
</head>
<body>

<%= yield %>

</body>
</html>
